.column-container {
  padding: 10px;
}

mat-card {
  height: 500px;
  cursor: pointer;
}

figure {
  padding: 20px !important;
}

.main-content {
  max-width: 1000px;
}

.header {
  font-size: 20px;
  color: white;
}

.mat-card-image {
  max-height: 300px;
  object-fit: cover;
}

.news-image {
  height:300px;
}
