<div fxLayout="row" class="news-container">
  <div class="side-advertisement-container"
       fxFlex="20"
       fxHide
       fxShow.gt-md=true>
    <app-advertisement></app-advertisement>
  </div>
  <div
    fxFlex="100"
    fxFlex.gt-md="60"
    fxLayout="row wrap"
    fxLayoutAlign.xs="center center"
    class="main-content">
    <div fxFlex="100"
         fxFlex.gt-sm="60"
         fxFlex.gt-lg="70"
         fxLayout="row wrap">
      <div fxLayout="row wrap"
           *ngFor="let category of categories">
        <div class="column-container"
             fxFlex="100">
          <mat-toolbar>{{ category.name }}</mat-toolbar>
        </div>
        <div fxFlex="100"
             fxFlex.gt-xs="50"
             class="column-container"
             *ngFor="let news of category.news">
          <mat-card matRipple
                    [routerLink]="['/news', news.id]">
            <img mat-card-image
                 src={{news.imageUrl}}
                 class="news-image">
            <mat-card-content>
              <mat-card-title>{{ news.title }}</mat-card-title>
              <mat-card-subtitle>{{ news.lead }}</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="100"
             class="column-container inline-advertisement-container"
             fxShow.lt-sm=true>
          <app-advertisement></app-advertisement>
        </div>
      </div>
    </div>
    <div fxFlex="100"
         fxFlex.gt-sm="40"
         fxFlex.gt-lg="30"
         class="column-container">
      <div fxLayout="row wrap">
        <div fxFlex.xs="100"
             fxFlex.gt-xs="50"
             fxFlex.gt-sm="100"
             ngClass.sm="column-container">
          <app-popular-news></app-popular-news>
        </div>
        <div fxFlex.xs="100"
             fxFlex.gt-xs="50"
             fxFlex.gt-sm="100"
             ngClass.sm="column-container">
          <app-latest-comments></app-latest-comments>
        </div>
      </div>
    </div>
  </div>
  <div class="side-advertisement-container"
       fxFlex="20"
       fxHide
       fxShow.gt-md=true>
    <app-advertisement></app-advertisement>
  </div>
</div>



